{{define "nav"}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin: 0 auto">
        <a class="navbar-brand" href="/">
            LeeBlog
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{if .categorySlice}}
                    {{range $index,$category := .categorySlice}}
                        <li class="nav-item {{if $.navId }} {{if eq $.navId $category.ID}} active {{end}} {{end}}">
                            <a class="nav-link" href="/category/{{$category.ID}}.html">{{$category.CategoryName}}</a>
                        </li>
                    {{end}}
                {{end}}
            </ul>
            <div class="dropdown">
                {{if .user}}
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{.user.Name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item btn" href="/blog/add">写博客</a>
                        <a class="dropdown-item btn" href="/logout">退出</a>
                    </div>
                {{else}}
                    <a class="btn btn-outline-success my-2 my-sm-0 text-white" href="/login">登录</a>
                    <a class="btn btn-outline-success my-2 my-sm-0 text-white" href="/register">注册</a>
                {{end}}
            </div>
        </div>

    </nav>
    <div style="height: 56px"></div>
{{end}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>{{block "title" .}}{{end}}享时刻-分享编码时刻的乐趣</title>
    <meta name="baidu-site-verification" content="HEMvtVkzhL" />
    <meta name="sogou_site_verification" content="hbdL8Ogt3c"/>
    <meta name="keywords" content="{{block "keyword" .}}{{end}} 享时刻"/>
    <meta name="description" content="{{block "description" .}}{{end}}享时刻"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-ico"/>
    {{block "css" .}}{{end}}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?872d69067b0527d309d3987e9731ce0f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
{{block "header" .}}
    <!-- header -->
{{end}}
{{block "content" .}}
{{end}}
{{block "footer" .}}
    <!-- footer -->
{{end}}
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
{{block "js" .}}{{end}}
</body>
</html>